{% extends LAYOUT_TEMPLATE %}
{% from MACROS_TEMPLATE import page_banner %}

{% block content %}
    {{ page_banner(text="About") }}
    <h2>Credits</h2>
        <p>
            First things first: all of the word lists used in this app come from 
            <a href="http://wordlist.aspell.net/" target="_blank">
                SCOWL (And Friends)
            </a> 
            and are 
            <a href="http://wordlist.aspell.net/scowl-readme/" target="_blank">
                Copyright 2000-2018 by Kevin Atkinson
            </a>. Many thanks to the people there for what was clearly a lot 
            of very hard, meticulous work.
        </p>
    <h2>What's Spelling Bee?</h2>
        <p>
            If you're not familiar with Spelling Bee, 
            take a look at the <a href="https://www.nytimes.com/puzzles/spelling-bee" target="_blank">
            Spelling Bee</a> site. Long story short: it's a word game published by the New York Times 
            in which you create words from a set of letters. A new puzzle with a new set of letters 
            appears every day, and most people try to reach "Genius" level by, well, 
            finding a lot of words. 
        </p>
        <p>    
            By the way, much to my chagrin, reaching "Genius" level does 
            not mean you're a real genius.
        </p>
    <h2>Are you affiliated with the New York Times?</h2>
        <p>
            No. I'm just a subscriber and a Spelling Bee solver.
        </p>
    <h2>Then why did you create this app?</h2>
        <p>
            Through years of playing Spelling Bee, 
            my goal every day was to reach the Genius level, which most people count 
            as having "solved" that day's puzzle.
        <p>
            But even if you reach Genius level there are still more words left to find 
            &mdash;and if you find all the rest, you are crowned Queen Bee! That's the 
            highest level.
        </p>
        <p>    
            When I managed to reach Genius level, I was always curious about which words 
            I had <span style="font-style: italic;">not</span> found along the way. 
            Had I just overlooked obvious words, or were there 
            words I simply didn't know? Usually it turns out to be a bit of both. 
            So beyond curiosity, knowing which words you missed is a good way to learn new words, 
            and useful in getting better at solving future puzzles.
        </p>
    <h2>
        Couldn't you just wait and look at the solution the next day?
    </h2>
        <p>
            Well, yes, I suppose so. But that's no fun! Beyond that, though, wondering about 
            the words I'd missed also started 
            me thinking about the software that was used to create the puzzle in the first place. 
            They clearly weren't doing it manually. They had to have some way to find all 
            the words for any random set of letters, 
            then a process for choosing which words to include in the puzzle and 
            which to leave out.
        </p>
        <p>     
            I had some ideas about how one might do that so, just for fun, 
            I decided to give it a shot.
        </p>
    <h2>So besides cheating at Spelling Bee &#x1F604; what else 
        can you do with the app?</h2>
        <p>
            Cheating?! Why, I've never been so insulted! &#x1F604; (Use it to cheat if 
            you want to. I won't judge &#x1F604;.)
            Seriously though, using software to create words from a random set of letters also 
            got me interested in English word lists.
        </p>
        <p>    
            Before writing a line of code, I had a problem to solve: where could I get a 
            good English language dictionary. Not exactly a dictionary. I didn't need definitions.  
            What I really needed was just a list of English words. Definitions 
            would just require more storage and clutter things up. I could 
            always link to definitions later, which is what this app does.
        <p>
            But finding an open source word list was harder than I expected.
        </p>
    <h3>First Stab</h3>
        <p>
            I eventually found a list hiding in a dusty corner of the internet. It contained more 
            than 370,000 English words, and no definitions. Initially, I thought it would be 
            just what I needed. It wasn't.
        </p>
        <p>    
            That uncurated, random list with a bazillion words was 
            full of abbreviations, misspellings, proper nouns, esoteric words and all manner 
            of cruft that was of no use as Spelling Bee words. That list worked 
            fine as a way to get started, but once I had an initial working version 
            of the app, I really needed a better word list. 
        </p>
    <h3>SCOWL to the Rescue</h3>
        <p>    
            That was when I came upon the SCOWL site, where some very smart people have 
            joined forces to create not just one good English language word list, but several. 
            Primarily for spell-checking software, they have created lists in 
            American, British, Canadian, and other flavors of English. This is what I was 
            looking for. In fact, there are several lists just of American English.
        </p>        
            But that created a different problem. It wasn't clear exactly which list 
            would work best for my Spelling Bee word-finding.
        </p>
        <p> 
            Curiosity struck again so, being a bit of a word nerd, 
            I created the Show Summaries feature to allow me to 
            compare the various SCOWL lists and to assess how each performed 
            as a source for Spelling Bee words.
        </p>
    <h3>Show Summaries</h3>
        <p>    
            Thus was born the Show Summaries feature. Find Words only searches one list at 
            a time, but Show Summaries searches all of the supported word lists simultaneously 
            and produces a table comparing them, including all the words 
            from all the word lists together in one place.
        </p>
        <p>
            As quick aside: Show Summaries is good for comparing the lists, but Find Words 
            may be better for working with a specific puzzle (i.e., finding the words for a 
            given set of letters) since it displays words in a way that mimics how  
            the Spelling Bee hints page and Spelling Bee Buddy display hints: i.e., 
            grouped either by initial letters or by word length.
        </p>
    <h2>
        Meh. This is sort of cool, but does anyone but you care about this stuff?
    </h2>
        <p>
            Probably not. But, it's mildly interesting word esoterica. 
            Somebody may care for some reason that I could not possibly know. 
            So I might as well put this out on the interwebs just in case.
        </p>
{#
        <p>
            Explore the 
            <a href="http://wordlist.aspell.net/" target="_blank">SCOWL site</a> for an exhaustive 
            explanation of all the word lists there, how they were compiled, what's in them, and 
            all the details you could ever want about lists of English words. 
            There is a lot to know and they know it all.
        </p>
#}
{% endblock %}