{% extends LAYOUT_TEMPLATE %}
{% from MACROS_TEMPLATE import page_banner %}

{% block style %}
    {{ super() }}
    <style>
        h6 {
            font-weight: bold;
        }            
    </style>
{% endblock %}

{% block content %}
    {{ page_banner(text="About this app") }}
    <h6>What's Spelling Bee?</h6>
    <p>
        It's a word game published by the New York Times. 
        <a href="https://www.nytimes.com/puzzles/spelling-bee" target="_blank"> Have a look</a>, then meet me back here.
    </p>
    <h6>So you are affiliated with the New York Times?</h6>
    <p>
        No. Not in any way whatsoever.
    </p>
    <h6>Why did you create this app then?</h6>
    <p>
        Out of curiosity. Through years of playing Spelling Bee, 
        my goal was to find enough words to make GABM (Genius All By Myself. See the link above. It will be explained in there somewhere). 
    <p>
        But even when you reach Genius level, there are still more words. 
        If you find all the rest, you are Queen Bee! So after reaching Genius, I always wondered what words I missed along the way.
    </p>
    <h6>So you created this app to cheat your way to Queen Bee...</h6>
    <p>
        What? Cheat? Why of all the ... I've never been so insulted.
    </p>
    <h6>So why then?</h6>
    <p>
        I like word games, and I was curious about how to write software to create games like Spelling Bee. I had worked on plenty of 
        software projects in the past, but never anything like this, so it was an interesting challenge.
    </p> 
    <p>
        Bottom line is I wrote did it for fun. I could get better at solving Spelling Bee by discovering the words I missed 
        on my way to Genuis, while also fiddling around with my own word program.
    </p>
    <h6>lol. You said "program". Nobody says that any more.</h6>
    <p>
        Do you have any more questions?
    </p>
    <h6>Why did you put it on the internet?</h6>
    <p>
        So I could give a couple of friends access to it (they have no clue how to run a web server on their laptops).
        This also had the added benefit of letting me use it while on the road without having to run it locally on my laptop.
    </p>
    <h6>Can I tell my friends about it?</h6>
    <p>
        No. Don't tell anyone. It's a secret web site. Of course, you can tell them. While you're at it, also tell them not to piss me off, 
        e.g., by trying to hack my server, or performing other feats of assholery. Bad actors are kindly requested to shove off. Thanks.
    </p>

{% endblock %}