{% extends LAYOUT_TEMPLATE %}
{% from MACROS_TEMPLATE import page_banner %}

{% block content %}
    {{ page_banner(text="About this app") }}
    <h2>Credits</h2>
        <p>
            First things first: all of the word lists used in this app come from 
            <a href="http://wordlist.aspell.net/" target="_blank">
                SCOWL (And Friends)
            </a> 
            and are 
            <a href="http://wordlist.aspell.net/scowl-readme/" target="_blank">
                Copyright 2000-2018 by Kevin Atkinson
            </a>. Many thanks to the people there for what was clearly a lot 
            of very hard, meticulous work.
        </p>
    <h2>What's Spelling Bee?</h2>
        <p>
            If you're not familiar with Spelling Bee, 
            take a look at the <a href="https://www.nytimes.com/puzzles/spelling-bee" target="_blank">
            Spelling Bee</a> site. Long story short: it's a word game published by the New York Times 
            in which you create words from a set of letters. A new puzzle with a new set of letters 
            appears every day, and most 
            people try to reach "Genius" level by (again, long story short) finding a lot of words. 
            (As an aside, reaching "Genius" level unfortunately does not mean you're a real genius.)
        </p>
    <h2>Are you affiliated with the New York Times?</h2>
        <p>
            No. I'm just a subscriber and a Spelling Bee solver.
        </p>
    <h2>Then why did you create this app?</h2>
        <p>
            Through years of playing Spelling Bee, 
            my goal every day was to reach the Genius level, which is what 
            passes for solving that day's Spelling Bee.
        <p>
            However, even if you reach Genius level there are still more words left to find 
            &mdash;and if you find all the rest you are crowned Queen Bee or the day!
        </p>
        <p>    
            I was always curious about which words I had missed or overlooked 
            on the way to Genius. Beyond curiosity, knowing which words you 
            have missed&mdash;especially if they are 
            words you don't even know&mdash;is useful in solving future puzzles.
        </p>
    <h2>
        Couldn't you just wait and look at the solution the next day?
    </h2>
        <p>
            Well, yes, I suppose so. But wondering about the words I'd missed also started 
            me thinking about the software that was used to create the puzzle in the first place. 
            Surely they had some way to find all the words for any random set of letters, 
            then some process for choosing which words to include in the puzzle and 
            which to leave out.
        </p>
        <p>    
            In any case, I assumed they must have software to manage that process, and I started to 
            wonder how you would write a software tool to help with that. I had some ideas about 
            how to do it so, just for fun, I decided to give it a shot.
        </p>
    <h2>So besides cheating at Spelling Bee &#x1F604; what else 
        can you do with the app?</h2>
        <p>
            Cheating?! Why, I've never been so insulted! &#x1F604;
            Seriously though, beyond finding words from a random set of letters, doing this 
            project also got me interested in English word lists.
        </p>
        <p>    
            When I set out to write the app, I remember thinking of the first problem I 
            needed to solve: how to obtain a good English language dictionary. 
            That wasn't entirely correct though. What I really 
            needed was just a list of English words. Not only did I not need dictionary  
            definitions, they would just clutter things up and require more storage. (I could 
            always link to definitions later, which this app does.)
        <p>
            Finding an open source word list was harder than I expected.
        </p>
    <h3>First Stab</h3>
        <p>
            I eventually found a word list floating around the internet. It contained more 
            than 370,000 English words, and no definitions. Perfect, I thought.
            Not so perfect, I soon learned. 
        </p>
        <p>    
            Unfortunately, an uncurated, random list with so many words was almost guaranteed to be 
            cluttered with cruft: abbreviations, misspellings, and esoteric words that 
            would never appear in Spelling Bee. It worked 
            fine as a way to get started, but it had way too many words, too much noise, and 
            was just a drag on the final product.
        </p>
    <h3>SCOWL to the Rescue</h3>
        <p>    
            Once I had a working version of the app, I really needed a better word list. 
            That's when I stumbled onto the SCOWL site, where some very smart people have 
            joined forces to create not just one good 
            list of English words, but several well curated spell-checking lists in 
            American, British, Canadian, and other flavors of English. This is what I was 
            looking for.
        </p>        
            But now there was a different problem. I now had not just one word list, 
            but several from which to choose. 
            And it wasn't clear exactly which one would work was best for Spelling Bee.
        </p>
        <p> 
            So, again out of curiosity (and being a bit of a word nerd), 
            I added the Show Summaries feature to allow me to 
            explore how each of those different SCOWL lists performed as a source for 
            Spelling Bee words, and compare them to each other.
        </p>
    <h3>Show Summaries</h3>
        <p>    
            Thus was born the Show Summaries feature. Find Words only searches one list at 
            a time, but Show Summaries searches all of the supported word lists simultaneously 
            and, among other things, can show all the words from every word list all together 
            in one place.
        </p>
        <p>
            Find Words is probably more useful for working 
            with a specific puzzle, since it displays words in a way that mimics how  
            the Spelling Bee hints page and Spelling Bee Buddy display hints, grouped either by 
            initial letters or by word length.
        </p>
    <h2>
        Spelling Bee already has hints? So it's not cheating, it's just more <span style="font-style: italic;">hints!</span>
    </h2>
        <p>
            Hey, do with it what you will. I won't judge. &#x1F604;
        <p>
        </p>
{#
        <p>
            Explore the 
            <a href="http://wordlist.aspell.net/" target="_blank">SCOWL site</a> for an exhaustive 
            explanation of all the word lists there, how they were compiled, what's in them, and 
            all the details you could ever want about lists of English words. 
            There is a lot to know and they know it all.
        </p>
#}
{% endblock %}