{% extends "layout.html" %}

{% from "macros.html" import page_banner, show_metadata, word_row %}

{#
{% block content %}
    {{ page_banner(text='Word Results') }}
    {{ show_metadata(metadata=metadata) }}
    {{ show_words_grouped(beeword_data=beeword_data, grouping=grouping) }}
{% endblock %}
#}
{% macro decorate_heading(heading, grouping) %}
    {% if grouping == INITIALS %}
        {{ heading | upper }}
    {% elif grouping == LENGTH %}
        {{ heading }}<span class="wordlength">-letter words</span>
    {% endif %}
{% endmacro %}

{% macro heading_row(level, heading) %}
    {% if level == 0 %}
        <tr>
            <td colspan="3"><hr></td>
        </tr>
    {% endif %}
    <tr>
        {% if level == 1 %}
            <td></td>
        {% endif %}
        <td>
            {% if level == 0 %}
                <span class="group0"> {{ heading }} </span>
            {% elif level == 1 %}
                <span class="group1"> {{ heading }} </span>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro show_words_grouped(output_data, grouping) %}
    {# top_level* and second_level* will be INITIALS or LENGTH, or vice versa #}
    {% set top_level_group, second_level_group = grouping[0], grouping[1] %}
    <div>
        <table>
            {%for toplevel_heading, toplevel_values in output_data.nested.items() %}
                {{ heading_row(
                    level=0,
                    heading=decorate_heading(
                            toplevel_heading,
                            top_level_group
                        )
                    )
                }}
                {%for second_level_heading, beewords in toplevel_values.items() %}
                    {{ heading_row(
                        level=1,
                        heading=decorate_heading(
                                second_level_heading,
                                second_level_group
                            )
                        )
                    }}
                    {%for beeword in beewords %}
                        {{ word_row(beeword=beeword) }}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endmacro %}
