{% extends LAYOUT_TEMPLATE %}
{% from MACROS_TEMPLATE import page_banner %}

{% block content %}
    {{ page_banner(text="Worker Bee Help") }}
        <h6>What's the deal with all these "word lists"?</h6>
    <p>Obviously, you could also use the app to kinda, sorta cheat and get to Queen Bee level every day. Go ahead. I won't judge.</p>

    <h5>What is this?</h5>
    <p>This web app can help players find words for the NYT Spelling Bee puzzle. Just enter the letters from the daily Spelling Bee (or come up with your own letters to play around).</p>
    <p>Those who play Spelling Bee will know what this means. Otherwise, google Spelling Bee and you'll quickly figure it out.</p>
    <h5>What do the fields on the Home screen mean?</h5>
    <p>Again, IYKYK.</p>
    <p>The "required letter" is the letter in the yellow tile in the middle of the Spelling Bee screen. </p>
    <p>The "other letters" are the six letters around the yellow one.</p>
    <h5>The "Look up words using" dropdown. What's that?</h5>
    <p>When the app returns an obscure word, it's time-consuming to have to copy the word, then go to some dictionary site, paste it and search to find the definition.</p>
    <p>All words returned by this app are links to the dictionary site you choose in this dropdown. So you can skip the multi-step copy/paste to look it up.</p>
    <h5>My apologies for the irrelevant words</h5>
    <p>Unfortunately, the dictionary for this app is huge, and the vast majority of the words the application finds for a given set of letters are NOT valid Spelling Bee words. You'll have to dig through a lot of irrelevant words to find the ones you want. Sorry about that.</p>
    <p>If you know of a better (open source) dictionary option, with fewer words, I would love to know about it. Contact me: a d j 7 3 8 8 at proton.me (remove the spaces, obviously, and you know what to do with 'at').</p>
{% endblock %}