{% extends LAYOUT_TEMPLATE %}
{% from MACROS_TEMPLATE import page_banner %}

{% block content %}
    {{ page_banner(text="Help") }}
    <p>
        This app find words using the same approach as the 
        New York Times Spelling Bee game. For now there are two things you can 
        do here:
    </p>
    <p>
        <span style="font-weight: bold;">Find Words</span>: enter letters &agrave; la Spelling Bee 
        and the app uses those letters to look for words in a single word list of your choice. 
        One advantage of Find Words is that you can download the resulting words.
    </p>
    <p>    
        <span style="font-weight: bold;">Show Summaries</span>: similar to Find Words, except that 
        it searches all word lists in one go, and displays a summary of what it finds in each list,
         optionally including the words from each list. 
    </p>
    <h2>Find Words &mdash; what the controls do</h2>
        <h3>Use Word List</h3>
            <p>
                Choose the word list in which to search for words. If you don't know which one to use, 
                just accept the default. Or try different ones and see the difference.
            </p>
            <p>
                What the heck are word lists?
                See the <a href="{{ url_for('about') }}">About page</a>.
            </p> 
        <h3>Required Letter and Other Letters</h3>
            <p>
                These fields mimic Spelling Bee. The yellow letter in the middle of 
                the Spelling Bee page is the letter that is "required" in each word you find.
                Enter only one letter in this field.
            </p>
            <p>
                On the Spelling Bee page that yellow, required letter is surrounded by six other 
                letters. Valid Spelling Bee words have at least four letters and include the required letter 
                and one or more of these "other" letters. Enter exactly six letters in this field.
            </p>
        <h3>How to group results</h3>
            <p>
                The grouping options mimic those found on the Spelling Bee hints page and in 
                Spelling Bee Buddy (another hint application provided by Spelling Bee).
            </p>
            <p>
                The options are pretty self-explanatory.
                <ul>
                    <li>Group by initial letters</br>
                        Note: this is the first <span style="text-decoration: underline;">two</span> 
                        letters, not just the 'initial'
                    </li>
                    <li>Group by word length</li>
                    <li>No grouping &mdash; just an alphabetical list</li> 
                </ul>
            </p>
        <h3>Link to definitions</h3>
            <p>
                Each word is linked to its definition in an online dictionary. Choose your 
                preferred dictionary here. This is handy for looking up words you don't know. 
            </p>

    <h2>Show Summaries &mdash; what the controls do</h2>
        <h3>Word Lists</h3>
            <p>
                All the word lists supported by the app are displayed here. A summary of results 
                will be presented for each of these word lists. Again, see the 
                <a href="{{ url_for('about') }}">About page</a> for more information about word lists.
            </p>
        <h3>Required Letter and Other Letters</h3>
            <p>
                Same as Find Words above.
            </p>
        <h3>Sort summaries by number of words</h3>
            <p>
                Summaries are always sorted by the number of words found in each word list. 
                You can choose whether the sort is ascending or descending.
            </p>
        <h3>Include all words in summaries</h3>
            <p>
                Summaries include the number of words found, all 
                the pangrams, etc. from that list. Check this box to also include all 
                the words found in each word list. This results in a busier display 
                but, depending on what you're doing, it can be quite useful.
            </p>
            <p>
                <h4>Ascending / Descending</h4>
                When you select <span style="font-weight: bold";>Include all words</span>, 
                choose one of these options to sort the words alphabetically or by word length. 
            </p>
                <h4>Link Words to</h4>
            <p>
                Each word will be linked to its definition in an online dictionary. 
                Choose your preferred dictionary in this dropdown.

{% endblock %}