{% extends "layout.html" %}
{% from "macros.html" import page_banner, dictionary_dropdown %}

{% block content %}

    {{ page_banner(text='Find Spelling Bee Words') }}

    <form action="{{ BEEWORD_VIEW }}" method="GET">
        {% if PROFILING is true %}
            <input type="hidden" name="{{ PROFILE_REQUEST_ARG }}" value="true">
        {% endif %}
        <div class="mt-3">
            <label for="{{ WORD_LIST }}">Search in this word list:</label>
            <select name="{{ WORD_LIST }}">
                {% for k, v in WORDLISTS.items() %}
                   <option value="{{ k }}"
                        {% if session[ARGS][WORD_LIST] == k %}
                            selected
                        {% endif %}
                    >
                    {{ v.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="h6 mt-3">
            Enter the required letter:<br>
            <span class="subtext">The yellow letter in the middle of the Spelling Bee page</span>
        </div>
        <div><input type='text', name={{ REQUIRED_LETTER }}
                value={{ session[ARGS][REQUIRED_LETTER] }}
            >
        </div>
        <div class="h6 mt-3">
            Enter the other letters:<br>
            <span class="subtext">The {{NUM_ALLOWED_LETTERS}} letters around the yellow, required letter</span>
        </div>
        <div><input type='text', name={{ ALLOWED_LETTERS }}
                value={{ session[ARGS][ALLOWED_LETTERS] }}
            >
        </div>
        <div class="h6 mt-3">
            How to group the results:
        </div>
        <div>
            <input type="radio" name="{{ GROUPING }}" id="{{ INITIALS }}" value="{{ INITIALS }}" 
                {{ 'checked' if session[ARGS][GROUPING] == INITIALS else '' }}
            >
            <label for="{{ INITIALS }}">Group by initial letters</label><br>

            <input type="radio" name="{{ GROUPING }}" id="{{ LENGTH }}" value="{{ LENGTH }}" 
                {{ 'checked' if session[ARGS][GROUPING] == LENGTH else '' }}
            >
            <label for="{{ LENGTH }}">Group by word length</label><br>

            <input type="radio" name="{{ GROUPING }}" id="{{ NO_GROUPING }}" value="{{ NO_GROUPING }}" 
                {{ 'checked' if session[ARGS][GROUPING] == NO_GROUPING else '' }}
            >
            <label for="{{ NO_GROUPING }}">No grouping. Just an alphabetical list</label>
        </div>
        <div class="mt-3">
            <label for="{{ DICTIONARY }}">Link to definitions in:</label>
            {{ dictionary_dropdown() }}
        </div>
        <div class="mt-3">
            <input type='submit' value='Find Words'>
        </div>
    </form>
{% endblock %}