{% extends LAYOUT_TEMPLATE %}
{% from MACROS_TEMPLATE import page_banner %}

{% block title %}
    Worker Bee - Helping the Hive
{% endblock %}

{% block content %}

    {{ page_banner(text='Worker Bee') }}

    <form action="{{ BEEWORD_VIEW }}" method="GET">
        {% if PROFILING is true %}
            <input type="hidden" name="{{ PROFILE_REQUEST_ARG }}" value="true">
        {% endif %}
        <p>
            <label for="{{ WORD_LIST }}">Use word list:</label>
            <select name="{{ WORD_LIST }}">
                {% for k, v in word_lists.items() %}
                   <option value="{{ k }}"
                        {% if args[WORD_LIST] == k %}
                            selected
                        {% endif %}
                    >
                    {{ v.name }}
                    </option>
                {% endfor %}
            </select>
        </p>

        <p class="h6">
            Enter the required letter:<br>
            <span class="subtext">The yellow letter in the middle</span>
        </p>
        <p><input type='text', name={{ REQUIRED_LETTER }}
            value=
                {% if args %}
                    {{ args[REQUIRED_LETTER] }}
                {% else %}
                    "u"
                {% endif %}
            >
        </p>
        <p class="h6">
            Enter the other letters:<br>
            <span class="subtext">The {{NUM_ALLOWED_LETTERS}} letters around the middle letter</span>
        </p>
        <p><input type='text', name={{ ALLOWED_LETTERS }}
            value=
                {% if args %}
                    {{ args[ALLOWED_LETTERS] }}
                {% else %}
                    "ncdeli"
                {% endif %}
            >
        </p>
        <p class="h6">
            How to group the results:
        </p>
        <p>
            {% set initials_checked = 'checked' if args[GROUPING] == INITIALS else '' %}
            {% set length_checked = 'checked' if args[GROUPING] == LENGTH else '' %}
            {% set no_grouping_checked = 'checked' if args[GROUPING] == NO_GROUPING else '' %}
            {% if not initials_checked and not length_checked and not no_grouping_checked %}
                {# initials as default #}
                {% set initials_checked = 'checked' %}
            {% endif %}
            <input type="radio" name="{{ GROUPING }}" id="{{ INITIALS }}" value="{{ INITIALS }}" {{ initials_checked}}>
            <label for="{{ INITIALS }}">Group by initial letters</label><br>
            <input type="radio" name="{{ GROUPING }}" id="{{ LENGTH }}" value="{{ LENGTH }}" {{ length_checked }}>
            <label for="{{ LENGTH }}">Group by word length</label><br>
            <input type="radio" name="{{ GROUPING }}" id="{{ NO_GROUPING }}" value="{{ NO_GROUPING }}" {{ no_grouping_checked }}>
            <label for="{{ NO_GROUPING }}">No grouping. Just an alphabetical list</label>
        </p>
        <p>
            <label for="{{ DICTIONARY }}">Link to definitions in:</label>
            <select name="{{ DICTIONARY }}">
                {% for k, v in dictionaries.items() %}
                    <option value="{{ k }}"
                        {% if args[DICTIONARY] == k %}
                            selected
                        {% endif %}
                    >{{ v.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <input type='submit' value='Submit'>
        </p>
    </form>
{% endblock %}