{% macro page_banner(text='') %}
    {% set banner = 'Worker Bee' %}
    {% if text %}
        <h4 class="banner">{{ text }}</h4>
    {% else %}
        <h4 class="banner">{{ banner }}</h4>
    {% endif %}
{% endmacro %}

{% macro show_metadata(metadata) %}
    {% set all_pangrams = metadata.nonperfect_pangrams + metadata.perfect_pangrams %}
    {% set total_pangrams = all_pangrams | length %}
    <div class="container">
        <div class="row">
            <div class="col col-md-auto">
                <table>
                    <tr>
                        <td class="left-bold" colspan="2">
                            Words
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic">
                            Required&nbsp;letter
                        </td>
                        <td class="letters">
                            {{ metadata.required }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic">
                            Other&nbsp;letters
                        </td>
                        <td class="letters">
                            {{ metadata.allowed }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic">
                            Number&nbsp;of&nbsp;words
                        </td>
                        <td>
                            {{ metadata.num_beewords }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic" style="vertical-align: top">
                            Bingo
                        </td>
                        <td>
                            {{ "Yes" if metadata.bingo else "No" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic" style="vertical-align: top">
                            Word&nbsp;list:
                        </td>
                        <td>
                            {{ metadata.word_list }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic" style="vertical-align: top">
                            Lookup&nbsp;words&nbsp;in:
                        </td>
                        <td>
                            {{ metadata.dictionary }}
                        </td>
                    </tr>
            </table>
            </div>
            <div class="col col-md-auto">
                <table>
                    <tr>
                        <td class="left-bold" colspan="2">
                            Pangrams
                        </td>
                    </tr>
                    <tr>
                        <td  class="right-italic" style="vertical-align: top">
                            Number of pangrams
                        </td>
                        <td>
                            {{ total_pangrams }}
                        </td>
                    </tr>
                    <tr>
                        <td  class="right-italic" style="vertical-align: top">
                            Perfect&nbsp;{{PERFECT_MARKER}}
                        </td>
                        <td>
                            {{ metadata.perfect_pangrams | length }}
                        </td>
                    </tr>
                    <tr>
                        <td  class="right-italic" style="vertical-align: top">
                            Not&nbsp;perfect&nbsp;{{PANGRAM_MARKER}}
                        </td>
                        <td>
                            {{ metadata.nonperfect_pangrams | length }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic" style="vertical-align: top">
                            Pangrams
                        </td>
                        <td>
                            {% if all_pangrams %}
                                {% for pangram in all_pangrams | sort(attribute=WORD) %}
                                    {{ decorate_word(beeword=pangram) }}<br>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col col-md-auto">
                <table>
                    <tr>
                        <td class="left-bold">
                            Download
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="{{ url_for(GETFILE_VIEW) }}" method="GET">
                                <p>
                                    <label for="{{FILE_TYPE}}" class="left-italic">File type:</label>
                                    <select name="{{FILE_TYPE}}">
                                        <option value="{{ TXT }}" {{ 'selected' if session[USER_ARGS][FILE_TYPE] == TXT else '' }}>text (words only)</option>
                                        <option value="{{ WORD_URL_CSV }}" {{ 'selected' if session[USER_ARGS][FILE_TYPE] == WORD_URL_CSV  else '' }}>csv (words, urls only)</option>
                                        <option value="{{ CSV }}" {{ 'selected' if session[USER_ARGS][FILE_TYPE] == CSV }}>csv (all data)</option>
                                        <option value="{{ JSON }}" {{ 'selected' if session[USER_ARGS][FILE_TYPE] == JSON }}>json (all data)</option>
                                    </select>
                                    <input type='submit' value='Download'><br>
                                    <span class="subtext">Check Downloads folder after download. Page does not refresh.</span>
                                </p>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro decorate_word(beeword) %}
    <a
        href={{ beeword.url }}
        target="_blank"
    >
        {% if beeword.is_pangram %}
            <span class="pangram">
                {{ beeword.word }}&nbsp;{% if beeword.is_perfect %}{{PERFECT_MARKER}}{% else %}{{PANGRAM_MARKER}}{% endif %}
            </span>
        {% else %}
            <span>{{ beeword.word }}</span>
        {% endif %}
    </a>
{% endmacro %}

{% macro word_row(beeword) %}
    <tr>
        <td></td>
        <td></td>
        <td>
            {{ decorate_word(beeword=beeword) }}
        </td>
    </tr>
{% endmacro %}

{% macro heading_row(level, heading) %}
    {% if level == 0 %}
        <tr>
            <td colspan="3"><hr></td>
        </tr>
    {% endif %}
    <tr>
        {% if level == 1 %}
            <td></td>
        {% endif %}
        <td>
            {% if level == 0 %}
                <span class="group0"> {{ heading }} </span>
            {% elif level == 1 %}
                <span class="group1"> {{ heading }} </span>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro decorate_heading(heading, grouping) %}
    {% if grouping == INITIALS %}
        {{ heading | upper }}
    {% elif grouping == LENGTH %}
        {{ heading }}<span class="wordlength">-letter words</span>
    {% endif %}
{% endmacro %}

{% macro show_words_grouped(beeword_data, grouping) %}
    {# top_level* and second_level* will be INITIALS or LENGTH, or vice versa #}
    {% set top_level_group, second_level_group = grouping[0], grouping[1] %}
    <div>
        <table>
            {%for toplevel_heading, toplevel_values in beeword_data.items() %}
                {{ heading_row(
                    level=0,
                    heading=decorate_heading(
                            toplevel_heading,
                            top_level_group
                        )
                    )
                }}
                {%for second_level_heading, beewords in toplevel_values.items() %}
                    {{ heading_row(
                        level=1,
                        heading=decorate_heading(
                                second_level_heading,
                                second_level_group
                            )
                        )
                    }}
                    {%for beeword in beewords %}
                        {{ word_row(beeword=beeword) }}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </table>
            </div>
            {% endmacro %}

{% macro show_words_flowy(beeword_data, grouping) %}
{# top_level* and second_level* will be INITIALS or LENGTH, or vice versa #}
{% set top_level_group, second_level_group = grouping[0], grouping[1] %}
<div class="panel panel-default">
    {%for toplevel_heading, toplevel_values in beeword_data.items() %}
        {%for second_level_heading, beewords in toplevel_values.items() %}
            <div class="panel-heading">
                {{ toplevel_heading }} {{second_level_heading}}
            </div>
            <div class="panel-body">
                {%for beeword in beewords %}
                    < class="panel-body">{{ decorate_word(beeword) }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endmacro %}
