{% macro page_banner(text='') %}
    {% set banner = 'Worker Bee' %}
    {% if text %}
        <h1 class="banner">{{ text }}</h1>
    {% else %}
        <h1 class="banner">{{ banner }}</h1>
    {% endif %}
{% endmacro %}

{% macro show_metadata(metadata) %}
    {% set all_pangrams = metadata.nonperfect_pangrams + metadata.perfect_pangrams %}
    {% set total_pangrams = all_pangrams | length %}
    <div class="container">
        <div class="row">
            <div class="col col-md-auto">
                <table>
                    <tr>
                        <td class="left-bold" colspan="2">
                            Words
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic">
                            Required&nbsp;letter
                        </td>
                        <td class="letters">
                            {{ metadata.required }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic">
                            Other&nbsp;letters
                        </td>
                        <td class="letters">
                            {{ metadata.allowed }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic">
                            Number&nbsp;of&nbsp;words
                        </td>
                        <td>
                            {{ metadata.num_beewords }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic" style="vertical-align: top">
                            Bingo
                        </td>
                        <td>
                            {{ "Yes" if metadata.bingo else "No" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic" style="vertical-align: top">
                            Word&nbsp;list:
                        </td>
                        <td>
                            {{ metadata.word_list }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic" style="vertical-align: top">
                            Lookup&nbsp;words&nbsp;in:
                        </td>
                        <td>
                            {{ metadata.dictionary }}
                        </td>
                    </tr>
            </table>
            </div>
            <div class="col col-md-auto">
                <table>
                    <tr>
                        <td class="left-bold" colspan="2">
                            Pangrams
                        </td>
                    </tr>
                    <tr>
                        <td  class="right-italic" style="vertical-align: top">
                            Number of pangrams
                        </td>
                        <td>
                            {{ total_pangrams }}
                        </td>
                    </tr>
                    <tr>
                        <td  class="right-italic" style="vertical-align: top">
                            Perfect&nbsp;{{PERFECT_MARKER}}
                        </td>
                        <td>
                            {{ metadata.perfect_pangrams | length }}
                        </td>
                    </tr>
                    <tr>
                        <td  class="right-italic" style="vertical-align: top">
                            Not&nbsp;perfect&nbsp;{{PANGRAM_MARKER}}
                        </td>
                        <td>
                            {{ metadata.nonperfect_pangrams | length }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic" style="vertical-align: top">
                            Pangrams
                        </td>
                        <td>
                            {% if all_pangrams %}
                                {% for pangram in all_pangrams | sort(attribute=WORD) %}
                                    {{ decorate_word(beeword=pangram) }}<br>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col col-md-auto">
                <table>
                    <tr>
                        <td class="left-bold">
                            Download
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="{{ url_for(GETFILE_VIEW) }}" method="GET">
                                <p>
                                    <label for="{{FILE_TYPE}}" class="left-italic">File type:</label>
                                    <select name="{{FILE_TYPE}}">
                                        <option value="{{ TXT }}" 
                                            {{ 'selected' if session[USER_ARGS][FILE_TYPE] == TXT else '' }}>text (words only)
                                        </option>
                                        <option value="{{ WORD_URL_CSV }}" 
                                            {{ 'selected' if session[USER_ARGS][FILE_TYPE] == WORD_URL_CSV  else '' }}>csv (words, urls only)
                                        </option>
                                        <option value="{{ CSV }}" 
                                            {{ 'selected' if session[USER_ARGS][FILE_TYPE] == CSV }}>csv (all data)
                                        </option>
                                        <option value="{{ JSON }}" 
                                            {{ 'selected' if session[USER_ARGS][FILE_TYPE] == JSON }}>json (all data)
                                        </option>
                                    </select>
                                    <input type='submit' value='Download'><br>
                                    <span class="subtext">Check Downloads folder after download. Page does not refresh.</span>
                                </p>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro dictionary_dropdown() %}
    <select id="{{ DICTIONARY }}" name="{{ DICTIONARY }}">
        {% for k, v in Dictionaries.items() %}
            <option value="{{ k }}"
                {% if session[USER_ARGS][DICTIONARY] == k %}
                    selected
                {% endif %}
            >{{ v.name }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro word_row(beeword) %}
    <tr>
        <td></td>
        <td></td>
        <td>
            {{ decorate_word(beeword=beeword) }}
        </td>
    </tr>
{% endmacro %}

{% macro decorate_word(beeword, anchor_class="unstyled-link", pangram_class="pangram", show_marker=True) %}
    <a class="{{anchor_class}}" href="{{ beeword.url }}" target="_blank">
        {% if beeword.is_pangram %}
            {% set pangram_marker = PERFECT_MARKER if beeword.is_perfect else PANGRAM_MARKER %}
            <span class="{{ pangram_class }}">
                {{ beeword.word }}{{ pangram_marker if show_marker else "" }}
            </span>
        {% else %}
            <span>{{ beeword.word }}</span>
        {% endif %}
    </a>
{% endmacro %}
