{% macro page_banner(text="") %}
    {% set banner = "Bee Word Play" %}
    {% if text %}
        <h1 class="banner">{{ text }}</h1>
    {% else %}
        <h1 class="banner">{{ banner }}</h1>
    {% endif %}
{% endmacro %}

{% macro getfile_dropdown() %}
<div class="mt-2">
    <div class="d-flex flex-wrap">
        <form action="{{ url_for(GETFILE_VIEW) }}" method="GET">
            <div class="d-inline-flex flex-nowrap align-items-center gap-2">
                <label for="{{FILE_TYPE}}" class="form-label mb-0 me-2 text-nowrap fst-italic">
                    Export words as:
                </label>
                <select class="form-select form-select-sm flex-shrink-0" style="max-width: 24ch; min-width: 12ch;" name="{{FILE_TYPE}}">
                    <option value="{{ TXT }}" 
                        {{ "selected" if session[ARGS][FILE_TYPE] == TXT else "" }}>text (words only)
                    </option>
                    <option value="{{ WORD_URL_CSV }}" 
                        {{ "selected" if session[ARGS][FILE_TYPE] == WORD_URL_CSV  else "" }}>csv (words, urls only)
                    </option>
                    <option value="{{ CSV }}" 
                        {{ "selected" if session[ARGS][FILE_TYPE] == CSV }}>csv (all data)
                    </option>
                    <option value="{{ JSON }}" 
                        {{ "selected" if session[ARGS][FILE_TYPE] == JSON }}>json (all data)
                    </option>
                </select>
                <input class="btn btn-primary btn-sm" type="submit" value="Download">
            </div>
            <div class="mt-0 ms-1">
                <span class="subtext small text-muted">Check Downloads folder. Page does not refresh.</span>
            </div>
        </form>
    </div>
</div>
{% endmacro %}

{% macro display_pangrams(pangrams) %}
    {% if pangrams %}
        {% for pangram in pangrams | sort(attribute='word') %}
            {{ decorate_word(beeword=pangram, pangram_class="", show_marker=False) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro findwords_metadata(metadata) %}
    {% set all_pangrams = metadata.nonperfect_pangrams + metadata.perfect_pangrams %}
    <hr>
    <div class="d-flex flex-wrap">
        <div class="me-3"><strong>Total Words: </strong>{{metadata.num_beewords}}</div>
        <div class="me-3"><strong>Found in: </strong>{{metadata.word_list}}</div>
        <div class="me-3">
            <strong>Perfect pangrams{{PERFECT_MARKER}} </strong>
            ({{ metadata.perfect_pangrams | length }})
            {{ display_pangrams(metadata.perfect_pangrams) }}
        </div>
        <div class="me-3">
            <strong>Other pangrams{{PANGRAM_MARKER}} </strong>
            ({{ metadata.nonperfect_pangrams | length }})
            {{ display_pangrams(metadata.nonperfect_pangrams) }}
        </div>
        <div class="me-3"><strong>Bingo: </strong>{{ "Yes" if metadata.bingo == True else "No" }}</div>
    </div>
{% endmacro %}

{% macro show_metadata(metadata) %}
    {% set all_pangrams = metadata.nonperfect_pangrams + metadata.perfect_pangrams %}
    {% set total_pangrams = all_pangrams | length %}
    <div class="container">
        <div class="row">
            <div class="col col-md-auto">
                <table>
                    <tr>
                        <td class="left-bold" colspan="2">
                            Words
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic">
                            Required&nbsp;letter
                        </td>
                        <td class="letters">
                            {{ metadata.required }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic">
                            Other&nbsp;letters
                        </td>
                        <td class="letters">
                            {{ metadata.allowed }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic">
                            Number&nbsp;of&nbsp;words
                        </td>
                        <td>
                            {{ metadata.num_beewords }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic" style="vertical-align: top">
                            Bingo
                        </td>
                        <td>
                            {{ "Yes" if metadata.bingo else "No" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic" style="vertical-align: top">
                            Word&nbsp;list:
                        </td>
                        <td>
                            {{ metadata.word_list }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic" style="vertical-align: top">
                            Lookup&nbsp;words&nbsp;in:
                        </td>
                        <td>
                            {{ metadata.dictionary }}
                        </td>
                    </tr>
            </table>
            </div>
            <div class="col col-md-auto">
                <table>
                    <tr>
                        <td class="left-bold" colspan="2">
                            Pangrams
                        </td>
                    </tr>
                    <tr>
                        <td  class="right-italic" style="vertical-align: top">
                            Number of pangrams
                        </td>
                        <td>
                            {{ total_pangrams }}
                        </td>
                    </tr>
                    <tr>
                        <td  class="right-italic" style="vertical-align: top">
                            Perfect&nbsp;{{PERFECT_MARKER}}
                        </td>
                        <td>
                            {{ metadata.perfect_pangrams | length }}
                        </td>
                    </tr>
                    <tr>
                        <td  class="right-italic" style="vertical-align: top">
                            Not&nbsp;perfect&nbsp;{{PANGRAM_MARKER}}
                        </td>
                        <td>
                            {{ metadata.nonperfect_pangrams | length }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right-italic" style="vertical-align: top">
                            Pangrams
                        </td>
                        <td>
                            {% if all_pangrams %}
                                {% for pangram in all_pangrams | sort(attribute=WORD) %}
                                    {{ decorate_word(beeword=pangram) }}<br>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col col-md-auto">
                <table>
                    <tr>
                        <td class="left-bold">
                            Download
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="{{ url_for(GETFILE_VIEW) }}" method="GET">
                                <p>
                                    <label for="{{FILE_TYPE}}" class="left-italic">File type:</label>
                                    <select name="{{FILE_TYPE}}">
                                        <option value="{{ TXT }}" 
                                            {{ "selected" if session[ARGS][FILE_TYPE] == TXT else "" }}>text (words only)
                                        </option>
                                        <option value="{{ WORD_URL_CSV }}" 
                                            {{ "selected" if session[ARGS][FILE_TYPE] == WORD_URL_CSV  else "" }}>csv (words, urls only)
                                        </option>
                                        <option value="{{ CSV }}" 
                                            {{ "selected" if session[ARGS][FILE_TYPE] == CSV }}>csv (all data)
                                        </option>
                                        <option value="{{ JSON }}" 
                                            {{ "selected" if session[ARGS][FILE_TYPE] == JSON }}>json (all data)
                                        </option>
                                    </select>
                                    <input type="submit" value="Download"><br>
                                    <span class="subtext">Check Downloads folder after download. Page does not refresh.</span>
                                </p>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro letter_inputs() %}
    <div class="d-flex align-items-center mt-3">
        <label for="{{ REQUIRED_LETTER }}" class="me-2 input-labels">Required letter</label>
        <input type="text" class="form-control" id="{{ REQUIRED_LETTER }}" 
            name="{{ REQUIRED_LETTER }}" value="{{ session[ARGS][REQUIRED_LETTER] }}"
            style="width: 5ch">
        <span class="subtext">&nbsp;&nbsp;Yellow letter in the middle of the Spelling Bee page</span>
    </div>
    <div class="d-flex align-items-center">
        <label for="{{ ALLOWED_LETTERS }}" class="me-2 input-labels">Other letters</label>
        <input type="text" class="form-control" id="{{ ALLOWED_LETTERS }}" 
            name="{{ ALLOWED_LETTERS }}" value="{{ session[ARGS][ALLOWED_LETTERS] }}"
            style="width: 10ch">
        <span class="subtext">&nbsp;&nbsp;Letters surrounding the required letter</span>
    </div>
{% endmacro %}

{% macro dictionary_dropdown() %}
    <select id="{{ DICTIONARY }}" name="{{ DICTIONARY }}">
        {% for k, v in DICTIONARIES.items() %}
            <option value="{{ k }}"
                {% if session[ARGS][DICTIONARY] == k %}
                    selected
                {% endif %}
            >{{ v.name }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro word_row(beeword) %}
    <tr>
        <td></td>
        <td></td>
        <td>
            {{ decorate_word(beeword=beeword) }}
        </td>
    </tr>
{% endmacro %}

{% macro decorate_word(beeword, anchor_class="unstyled-link", pangram_class="pangram", show_marker=True) %}
    <a class="{{anchor_class}}" href="{{ beeword.url }}" target="_blank">
        {% if beeword.is_pangram %}
            {% set pangram_marker = PERFECT_MARKER if beeword.is_perfect else PANGRAM_MARKER %}
            <span class="{{ pangram_class }}">
                {{ beeword.word }}{{ pangram_marker if show_marker else "" }}
            </span>
        {% else %}
            <span>{{ beeword.word }}</span>
        {% endif %}
    </a>
{% endmacro %}
