{% extends LAYOUT_TEMPLATE %}
{% from MACROS_TEMPLATE import page_banner, dictionary_dropdown %}

{% block content %}
    {{ page_banner(text="Show Summaries of All Word Lists") }}
{#
        <div>
        <span style="font-weight: bold">What's a summary?</span></br>
        A search for Spelling Bee words is performed for each word list shown below. 
        A summary for each word list shows 
        1) the number of words found, 
        2) pangrams (perfect and otherwise), and 
        3) whether the letters produced a bingo (at least one word starting with each letter).
        <span style="font-weight: bold; font-size: smaller">Optionally,</span> 
        you can include in each summary all the words found in each word list.
    </div>
#}
    <div>
        <scan style="font-weight: bold; font-size: smaller">Word Lists:</scan>
        {% for word_list in WordLists.values() %}
            <scan style="font-size: x-small">{{ word_list.name }}</scan>&nbsp;|
        {% endfor %}
    </div>
    <div>
        <form action="/{{ SUMMARY_VIEW }}" method="GET">
            {% if PROFILING is true %}
                <input type="hidden" name="{{ PROFILE_REQUEST_ARG }}" value="true">
            {% endif %}

            <div class="mt-3">
                Enter the required letter:<br>
                <span class="subtext">The yellow letter in the middle</span>
            </div>
            <div>
                <input type='text', name={{ REQUIRED_LETTER }}
                value="{{ session[USER_ARGS][REQUIRED_LETTER] }}">
            </div>
            <div class="mt-3">
                Enter the other letters:<br>
                <span class="subtext">The {{NUM_ALLOWED_LETTERS}} letters around the middle letter</span>
            </div>
            <div>
                <input type='text', name={{ ALLOWED_LETTERS }}
                value="{{ session[USER_ARGS][ALLOWED_LETTERS] }}">
            </div>

            <div class="mt-3">
                Sort summaries by number of words:
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="{{ SUMMARY_SORT }}" id="{{ ASCENDING }}" value="{{ ASCENDING }}" 
                    {{ 'checked' if session[USER_ARGS][SUMMARY_SORT] == ASCENDING else '' }}
                >
                <label class="form-check-label" for="{{ ASCENDING }}">Ascending</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="{{ SUMMARY_SORT }}" id="{{ DESCENDING}}" value="{{ DESCENDING}}"
                    {{ 'checked' if session[USER_ARGS][SUMMARY_SORT] == DESCENDING else '' }}
                >
                <label class="form-check-label" for="{{ DESCENDING}}">Descending</label><br>
            </div>

            <div class="mt-3">
                <div>
                    <input type="checkbox" id="{{ SHOW_WORDS}}" name="{{ SHOW_WORDS}}" value="{{ SHOW_WORDS }}"
                        {{ 'checked' if session[USER_ARGS][SHOW_WORDS] == SHOW_WORDS else '' }}
                    >
                    <label for="{{ SHOW_WORDS }}">Include all words in summaries</label>            
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{ WORD_SORT }}" id="{{ ALPHABETICALLY }}" value="{{ ALPHABETICALLY }}"
                        {{ 'checked' if session[USER_ARGS][WORD_SORT] == ALPHABETICALLY else '' }}
                    >
                    <label class="form-check-label" for="alphabetically">Sort words alphabetically</label><br>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{ WORD_SORT }}" id="{{ BYWORDLENGTH }}" value="{{ BYWORDLENGTH }}"
                        {{ 'checked' if session[USER_ARGS][WORD_SORT] == BYWORDLENGTH else '' }}
                    >
                    <label class="form-check-label" for="bylength">Sort words by word length</label><br>
                </div>
                <div class="d-inline-block">
                    <label id="{{ DICTIONARY }}label" for={{ DICTIONARY}} class="form-label me-2">Link words to:</label>
                    {{ dictionary_dropdown() }}
                </div>
                <div class="mt-3">
                    <input type='submit' value='Get Summary'>
                </div>
            </div>
        </form>
    </div>
    
    <script>

        const include_words = document.getElementById('{{ SHOW_WORDS }}');
        const alphabetically = document.getElementById('{{ ALPHABETICALLY }}');
        const bylength = document.getElementById('{{ BYWORDLENGTH }}');
        const dictionarylabel = document.getElementById('{{ DICTIONARY }}label');
        const dictionary = document.getElementById('{{ DICTIONARY }}');

        include_words.addEventListener('change', () => {
            const enabled = include_words.checked;
            alphabetically.disabled = !enabled;
            bylength.disabled = !enabled;
            dictionary.disabled = !enabled;
            dictionarylabel.classList.toggle('text-black-50', !enabled);
        });

        include_words.dispatchEvent(new Event('change'));

    </script>

{% endblock %}