{% extends LAYOUT_TEMPLATE %}

{% from MACROS_TEMPLATE import page_banner, show_metadata %}

{% block title %}
    Summary of All Word Lists
{% endblock %}

{% macro summary_row(metadata) %}
    <tr>
        <td>{{ metadata.word_list}}</td>
        <td>{{ metadata.num_beewords }}</td>
        <td>
            {% for pangram in metadata.perfect_pangrams %}
                <span>{{ pangram.word }}</span>
            {% endfor %}
        </td>
        <td>
            {% for pangram in metadata.nonperfect_pangrams %}
                <span>{{ pangram.word }}</span>
            {% endfor %}
        </td>
    </tr>
{% endmacro %}


{% block content %}
 
    {{ page_banner(text='Summary Results') }}
    <p>Required letter: {{ summary[0].metadata.required }}</p>
    <p>Allowed letters: {{ summary[0].metadata.allowed }}</p>
    <table>
        <tr>
            <th>Word List</th><th>Number</th><th>Perfect</th><th>Non-Perfect</th>
        </tr>
        {% for beeword in summary %}
            {{ summary_row(metadata=beeword.metadata) }}
        {% endfor %}
    </table>

{% endblock %}