{% extends LAYOUT_TEMPLATE %}

{% from MACROS_TEMPLATE import page_banner, show_metadata %}

{% block title %}
    Summary of All Word Lists
{% endblock %}

{% macro summary_row(output_data, show_words) %}
    <tr>
        <td>{{ output_data.metadata.word_list}}</td>
        <td>{{ output_data.metadata.num_beewords }}</td>
        <td>
            {% for pangram in output_data.metadata.perfect_pangrams %}
                <span>{{ pangram.word }}</span>
            {% endfor %}
        </td>
        <td>
            {% for pangram in output_data.metadata.nonperfect_pangrams %}
                <span>{{ pangram.word }}</span>
            {% endfor %}
        </td>
    </tr>
    {% if show_words == SHOW_WORDS %}
        <tr>
            <td style="text-align: right;">Words</td>
            <td colspan="3">
                {% for beeword in output_data.data %}
                    {{ beeword.word }}&nbsp;
                {% endfor %}
            </td>
        </tr>
    {% endif %}
{% endmacro %}


{% block content %}
 
    {{ page_banner(text='Word List Summary') }}
    <p>
        <span style="font-weight: bold">Required letter: </span>&nbsp;{{ summary[0].metadata.required }}<br>
        <span style="font-weight: bold">Allowed letters:</span>&nbsp;{{ summary[0].metadata.allowed }}
    </p>
    <table class="table table-bordered" background="#faf3d4">
        <tr>
            <th>Word List</th><th>Total Words</th><th>Perfect Pangrams</th><th>Non-Perfect Pangrams</th>
        </tr>
        {% for output_data in summary %}
            {{ summary_row(output_data=output_data, show_words=show_words) }}
        {% endfor %}
    </table>

{% endblock %}