{% extends LAYOUT_TEMPLATE %}

{% from MACROS_TEMPLATE import page_banner, show_metadata %}

{% macro summary_row(output_data) %}
    <tr>
        <td>{{ output_data.metadata.word_list}}</td>
        <td>{{ output_data.metadata.num_beewords }}</td>
        <td>{{ 'Yes' if output_data.metadata.bingo else 'No' }}</td>
        <td>
            {% for pangram in output_data.metadata.perfect_pangrams %}
                <span>{{ pangram.word }}</span>
            {% endfor %}
        </td>
        <td>
            {% for pangram in output_data.metadata.nonperfect_pangrams %}
                <span>{{ pangram.word }}</span>
            {% endfor %}
        </td>
    </tr>
    {% if session[USER_ARGS][SHOW_WORDS] == SHOW_WORDS %}
        <tr>
            <td style="text-align: right; background-color: aliceblue;">Words</td>
            <td style="background-color: aliceblue;" colspan="4">
                {% for key in output_data.data.keys() | sort %}
                    <span style="font-weight: bold;">[{{ key | upper }}]&nbsp;</span>
                    {% for beeword in output_data.data[key] %}
                        {{ beeword }}&nbsp;
                    {% endfor %}
                {% endfor %}
            </td>
        </tr>
    {% endif %}
{% endmacro %}


{% block content %}
 
    {{ page_banner(text='Word List Summary') }}
    <p>
        <span style="font-weight: bold">Required letter: </span>&nbsp;{{ summary[0].metadata.required }}<br>
        <span style="font-weight: bold">Allowed letters:</span>&nbsp;{{ summary[0].metadata.allowed }}
    </p>
    <table class="table table-bordered" background="#faf3d4">
        <tr>
            <th>Word List</th><th>Total Words</th><th>Bingo</th><th>Perfect Pangrams</th><th>Non-Perfect Pangrams</th>
        </tr>
        {% for output_data in summary %}
            {{ summary_row(output_data=output_data) }}
        {% endfor %}
    </table>

{% endblock %}