# Use this template to create /etc/workerbee.env
# /etc/workerbee.env should contain environment variables the systemd service needs to run the app
# /etc/workerbee.env is referenced from /etc/systemd/system/workerbee.service:
#   EnvironmentFile=/etc/workerbee.env

SECRETBEEKEY=replace_me
FLASK_CONFIG=DevConfig