[Unit]
Description=Workerbee App
After=network.target

[Service]
User=gunicorn
Group=www-data

EnvironmentFile=/etc/workerbee.env

RuntimeDirectory=workerbee
RuntimeDirectoryMode=0770

WorkingDirectory=/opt/workerbee/
ExecStart=/opt/workerbee/.venv/bin/gunicorn --capture-output --access-logfile /var/log/gunicorn/workerbee-access.log --error-logfile=/var/log/gunicorn/workerbee-error.log -w 2 --bind unix:/run/workerbee/workerbee.sock --umask 007 "wsgi:app"

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
