# Use this template to create '/etc/workerbee.env', which is where
# environment variables for the 'workerbee.service' (systemd) are set.
# The 'workerbee.service' file loads environment variables in this directive:
# EnvironmentFile=/etc/workerbee.env
# See the 'workerbee.service' file for details.

SECRET_KEY=replace_me
FLASK_CONFIG=DevConfig