<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{% block title %}Bee Word Play{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css')}}" />

    {% block head_styles %}
    {% endblock %}

  </head>

  <body>
  
    {% include "navbar.html" %}
  
    {% block content %}
    {% endblock %}

    {% include "footer.html" %}
    
    {% block scripts %}

    <script>
      // navbar mojo
      document.addEventListener("DOMContentLoaded", function () {
        const toggle = document.querySelector(".navbar-toggle");
        const links = document.querySelector(".navbar-links");

        toggle.addEventListener("click", function () {
          links.classList.toggle("open");
          const expanded = toggle.getAttribute("aria-expanded") === "true";
          toggle.setAttribute("aria-expanded", !expanded);
        });
      });
    </script>

    {% endblock %}

  </body>

</html>
