{% extends "base.html" %}

{% from "macros.html" import page_banner, dictionary_dropdown, letter_inputs, display_changes_checkbox, display_history_buttons%}

{# keys match what initFormHistory and initiFormHandler expect #}
{% set IDs = {
    'formId'   : 'findWordsSearchForm',
    'backId'   : 'backBtn', 
    'forwardId': 'forwardBtn',
    'indexId'  : 'indexDisplay',
    'saveId'   : 'saveHistoryBtn',
    'resultsId': 'results',
} %}

{% block scripts %}

<script src="{{ url_for('static', filename='utils.js') }}"></script>
<script src="{{ url_for('static', filename='formHistory.js') }}"></script>
<script src="{{ url_for('static', filename='formHandler.js') }}"></script>

<script>
    // convert Jinja IDs to ids for js
    const ids = {{ IDs | tojson }};

    const displayChanges = initDisplayChanges({
        displayChangesId : "{{ DISPLAY_CHANGES }}",
        url : "{{ url_for('display_changes') }}"
    });

    const formHistory = initFormHistory(ids);

    initFormHandler({
        form            : document.getElementById(ids.formId),
        url             : "{{ url_for('find_words_results') }}",
        gatherValues    : () => ({
            required    : inputValue('{{ REQUIRED_LETTER }}'),
            allowed     : inputValue('{{ ALLOWED_LETTERS }}'),
            grouping    : radioValue('{{ GROUPING }}'),
            word_list   : inputValue('{{ WORD_LIST }}'),
            dictionary  : inputValue('{{ DICTIONARY }}'),
        }),
        displayChanges      : displayChanges,
        resultsElement      : document.getElementById(ids.resultsId),
        formHistory         : formHistory,
        postSubmitCallbacks : [],
        buttonLabels        : { first: 'Find Words', after: 'Update Words' }
    });

</script>

{% endblock %}

{% block content %}

    <div class="banner-container">

        {{ page_banner(text='Find Words') }}
        {{ display_changes_checkbox() }}&nbsp;&nbsp;&nbsp;
        {{ display_history_buttons(IDs.backId, IDs.forwardId, IDs.saveId, IDs.indexId) }}

    </div>

    <form id="{{IDs.formId}}" method="GET">

        {{ letter_inputs() }}

        {# Word List dropdown #}
        <div class="d-flex flex-wrap align-items-center gap-3 mt-2">
                <label class="input-labels" for="{{ WORD_LIST }}">
                    Use word list:
                </label>
                <select id="{{ WORD_LIST }}" name="{{ WORD_LIST }}">

                    {% for k, v in word_lists.items() %}
                        <option value="{{ k }}"
                            {% if session[ARGS][WORD_LIST] == k %}
                                selected
                            {% endif %}
                        >
                            {{ v.name }}&nbsp;&mdash;&nbsp;
                            {# show number of words in this word list#}
                            {{ "{:,}".format(v.num_words) }} words
                        </option>
                    {% endfor %}
                </select>
        </div>

        {# Group results radio buttons #}

        <fieldset class="d-flex flex-wrap align-items-center gap-3 mt-2">
            <legend class="input-labels mb-0 me-3">Group the results by:</legend>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="{{ INITIALS }}" name="{{ GROUPING }}" value="{{ INITIALS }}"
                    {{ "checked" if session[ARGS][GROUPING] == INITIALS else "" }}>
                <label class="form-check-label" for="{{ INITIALS }}">Initial letters</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="{{ LENGTH }}" name="{{ GROUPING }}" value="{{ LENGTH }}"
                    {{ "checked" if session[ARGS][GROUPING] == LENGTH else "" }}>
                <label class="form-check-label" for="{{ LENGTH }}">Word length</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="{{ NO_GROUPING }}" name="{{ GROUPING }}" value="{{ NO_GROUPING }}"
                    {{ "checked" if session[ARGS][GROUPING] == NO_GROUPING else "" }}>
                <label class="form-check-label" for="{{ NO_GROUPING }}">No grouping</label>
            </div>
        </fieldset>

        {# Dictionary choice #}
        <div class="mt-2">
            <label class="input-labels" for="{{ DICTIONARY }}">
                Link words to:
            </label>

            {{ dictionary_dropdown() }}

        </div>

        {# Submit #}
        <div class="mt-3">
            <input id="submitButton" type="submit" value="Find Words">
        </div>
    </form>

    {# Results inserted here #}
    <div id="results"></div>

{% endblock %}
