{% extends "base.html" %}

{% from "macros.html" import page_banner, dictionary_dropdown, letter_inputs, toolbar %}

{% block scripts %}

{{ super() }}

<script src="{{ url_for('static', filename='utils.js') }}"></script>
<script src="{{ url_for('static', filename='formHandler.js') }}"></script>
<script src="{{ url_for('static', filename='confirmDialog.js') }}"></script>

<script>
    // *_CONFIG passed in context from view function. Parse w/ backticks to silence js linter
    const formConfig = JSON.parse(`{{ FORM_CONFIG | tojson | safe }}`);
    const displayChangesConfig = JSON.parse(`{{ DISPLAY_CHANGES_CONFIG | tojson | safe }}`);
    const historyConfig = JSON.parse(`{{ HISTORY_CONFIG | tojson | safe }}`);

    // Params needed by formHandler, not in formConfig
    const formHistory = initFormHistory(historyConfig);
    const displayChanges = initDisplayChanges({
            checkboxId : displayChangesConfig.displayChangesId,
            url : displayChangesConfig.displayChangesUrl,
        })
    const formHandlerConfig = {
        formHistory: formHistory,
        displayChanges: displayChanges,
        postSubmitCallbacks: []
     }

    initFormHandler({ ...formConfig, ...formHandlerConfig });

</script>

{% endblock %}

{% block head_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='search-results.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='confirm-dialog.css') }}">
{% endblock %}

{% block content %}
 
    <div class="banner-container">

        {{ page_banner(text='Find Words') }}
        {{ toolbar("|", DISPLAY_CHANGES_CONFIG, HISTORY_CONFIG) }}

    </div>

    <form id="{{ FORM_CONFIG.formId }}" class="two-col-grid" method="GET">

        {{ letter_inputs() }}

        {# Word List dropdown #}
        {# <label> in left col, <select> in right col #}
        <label for="{{ WORD_LIST }}">Use word list:</label>
        <select id="{{ WORD_LIST }}" name="{{ WORD_LIST }}">

            {% for k, v in word_lists.items() %}
                <option value="{{ k }}"
                    {% if session[ARGS][WORD_LIST] == k %}
                        selected
                    {% endif %}
                >
                    {{ v.name }}&nbsp;&mdash;&nbsp;
                    {# show number of words in this word list#}
                    {{ "{:,}".format(v.num_words) }} words
                </option>
            {% endfor %}
        </select>

        {# Group results radio buttons #}
        {# fieldset has display: contents, so <legend> in left col, <div> in right col #}
        <fieldset>
            <legend>Group the results by:</legend>
            <div class="radio-group">
                <div>
                    <input type="radio" id="{{ INITIALS }}" name="{{ GROUPING }}" value="{{ INITIALS }}"
                        {{ "checked" if session[ARGS][GROUPING] == INITIALS else "" }}>
                    <label for="{{ INITIALS }}">Initial letters</label>
                </div>
                <div>
                    <input type="radio" id="{{ LENGTH }}" name="{{ GROUPING }}" value="{{ LENGTH }}"
                        {{ "checked" if session[ARGS][GROUPING] == LENGTH else "" }}>
                    <label for="{{ LENGTH }}">Word length</label>
                </div>
                <div>
                    <input type="radio" id="{{ NO_GROUPING }}" name="{{ GROUPING }}" value="{{ NO_GROUPING }}"
                        {{ "checked" if session[ARGS][GROUPING] == NO_GROUPING else "" }}>
                    <label for="{{ NO_GROUPING }}">No {{ GROUPING }}</label>
                </div>
            </div>
        </fieldset>

        {# Dictionary choice #}
        {{ dictionary_dropdown() }}

        <div class="mt-3">
            <input id="submitButton" type="submit" value="{{FORM_CONFIG.buttonLabels.first}}">
        </div>
        
    </form>

    {# Results inserted here #}
    <div id="{{FORM_CONFIG.resultsContainerId}}"></div>

    {% include "_confirm_dialog.html" %}

{% endblock %}
