{% extends "layout.html" %}

{% from "macros.html" import page_banner, dictionary_dropdown, letter_inputs %}

{% block content %}

    {{ page_banner(text='Find Words') }}

    <form id="searchForm" method="GET">

        {{ letter_inputs() }}

        {# Word List dropdown #}
        <div class="d-flex flex-wrap align-items-center gap-3 mt-2">
                <label class="input-labels" for="{{ WORD_LIST }}">
                    Use word list:
                </label>
                <select id="{{ WORD_LIST }}" name="{{ WORD_LIST }}">

                    {% for k, v in word_lists.items() %}
                        <option value="{{ k }}"
                            {% if session[ARGS][WORD_LIST] == k %}
                                selected
                            {% endif %}
                        >
                            {{ v.name }}&nbsp;&mdash;&nbsp;
                            {# show number of words in this word list#}
                            {{ "{:,}".format(v.num_words) }} words
                        </option>
                    {% endfor %}
                </select>
        </div>

        {# Group results radio buttons #}
        <div class="d-flex flex-wrap align-items-center gap-3 mt-2">
            <div class="input-labels">
                Group the results by:
            </div>
            <div class="d-inline-flex flex-nowrap gap-2">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="{{ INITIALS }}">
                        Initial letters
                    </label>&nbsp;&nbsp;
                    <input class="form-check-input" type="radio"
                        id="{{ INITIALS }}" name="{{ GROUPING }}" value="{{ INITIALS }}" 
                        {{ "checked" if session[ARGS][GROUPING] == INITIALS else "" }}
                    >
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="{{ LENGTH }}">
                        Word length
                    </label>&nbsp;&nbsp;
                    <input class="form-check-input" type="radio"
                        id="{{ LENGTH }}" name="{{ GROUPING }}" value="{{ LENGTH }}" 
                        {{ "checked" if session[ARGS][GROUPING] == LENGTH else "" }}
                    >
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="{{ NO_GROUPING }}">
                        No grouping
                    </label>
                    <input class="form-check-input" type="radio"
                        id="{{ NO_GROUPING }}" name="{{ GROUPING }}" value="{{ NO_GROUPING }}" 
                        {{ "checked" if session[ARGS][GROUPING] == NO_GROUPING else "" }}
                    >
                </div>
            </div>
        </div>

        {# Dictionary choice #}
        <div class="mt-2">
            <label class="input-labels" for="{{ DICTIONARY }}">
                Link words to:
            </label>

            {{ dictionary_dropdown() }}

        </div>

        {# Submit #}
        <div class="mt-3">
            <input id="submitButton" type="submit" value="Find Words">
        </div>
    </form>

    {# Results inserted here #}
    <div id="results"></div>

    <script>

        document.getElementById('searchForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const submitButton = document.getElementById('submitButton');
            const isFirstSubmit = submitButton.value === 'Find Words'
            submitButton.value = "Update Results";

            const required = document.getElementById('{{ REQUIRED_LETTER }}').value;
            const allowed = document.getElementById('{{ ALLOWED_LETTERS }}').value;
            const word_list = document.getElementById('{{ WORD_LIST }}').value;
            const grouping = document.querySelector('input[name="{{ GROUPING }}"]:checked')?.value;
            const dictionary = document.getElementById('{{ DICTIONARY }}').value;

            const currentState = { required, allowed, word_list, grouping, dictionary };

            const findWordsUrl = "{{ url_for('find_words_results') }}";
            const params = new URLSearchParams(currentState);

            fetch(`${findWordsUrl}?${params.toString()}`)
                .then(res => res.text())
                .then(html => {
                    document.getElementById('results').innerHTML = `
                        <div class="mt-3 bg-light" style="padding: 1em; border-top: 1px solid #333;">
                            ${html}
                        </div>`;
                    changes = handleDiff("findWordsStorageKey", currentState);
                    if ( ! isFirstSubmit ) {
                        showUpdates(changes);
                    }
                });
        });

    </script>

{% endblock %}
