{% macro page_banner(text="") %}
    {% set banner = "Bee Word Play" %}

        {% if text %}
            <h1 class="banner">{{ text }}</h1>
        {% else %}
            <h1 class="banner">{{ banner }}</h1>
        {% endif %}

{% endmacro %}


{% macro show_messages(messages)%}
    {% for message in messages %}
        <div class="bg-light" style="font-weight: bold">
            {{ message }}
        </div>
    {% endfor %}

{% endmacro %}


{% macro letter_inputs() %}
    {# text inputs to enter required letter and other allowed letters #}
    <div class="d-flex align-items-center mt-3">
        <label for="{{ REQUIRED_LETTER }}" class="me-2 input-labels">
            Required letter:
        </label>
        <input type="text" class="form-control" id="{{ REQUIRED_LETTER }}" 
            name="{{ REQUIRED_LETTER }}" value="{{ session[ARGS][REQUIRED_LETTER] }}"
            style="width: 5ch">
        <span class="subtext">&nbsp;&nbsp;Yellow letter in the middle of the Spelling Bee page</span>
    </div>
    <div class="d-flex align-items-center">
        <label for="{{ ALLOWED_LETTERS }}" class="me-2 input-labels">
            Other letters:
        </label>
        <input type="text" class="form-control" id="{{ ALLOWED_LETTERS }}" 
            name="{{ ALLOWED_LETTERS }}" value="{{ session[ARGS][ALLOWED_LETTERS] }}"
            style="width: 10ch">
        <span class="subtext">&nbsp;&nbsp;Letters surrounding the required letter</span>
    </div>

    <script>
        function clean_letter_inputs() {
            const required_input = document.getElementById('{{REQUIRED_LETTER}}');
            required_input.value = required_input.value.trim().toLowerCase(); 
            const allowed_input = document.getElementById('{{ALLOWED_LETTERS}}');
            allowed_input.value = allowed_input.value.trim().toLowerCase();
        };
        document.getElementById('{{REQUIRED_LETTER}}').addEventListener('input', clean_letter_inputs);
        document.getElementById('{{ALLOWED_LETTERS}}').addEventListener('input', clean_letter_inputs);
    </script>
{% endmacro %}


{% macro dictionary_dropdown() %}
    <select id="{{ DICTIONARY }}" name="{{ DICTIONARY }}">

        {% for k, v in dictionaries.items() %}
            <option value="{{ k }}"
                    {% if session[ARGS][DICTIONARY] == k %}
                        selected
                    {% endif %}>
                {{ v.name }}
            </option>
        {% endfor %}
    </select>
{% endmacro %}


{% macro decorate_word(beeword, anchor_class="unstyled-link", pangram_class="pangram", show_marker=True) %}
    <a class="{{anchor_class}}" href="{{ beeword.definition_url }}" target="_blank">

        {% if beeword.is_pangram %}
            {% set pangram_marker = PERFECT_MARKER if beeword.is_perfect else PANGRAM_MARKER %}

            <span class="{{ pangram_class }}">
                {{ beeword.word }}{{ pangram_marker if show_marker else "" }}
            </span>

        {% else %}

            <span>{{ beeword.word }}</span>

        {% endif %}

    </a>
{% endmacro %}


{% macro display_changes(config) %}

    <input class="form-check-input me-0" type="checkbox"
        id="{{config.displayChangesId}}" name="{{config.displayChangesId}}"
        {{ "checked" if session[ARGS][DISPLAY_CHANGES] == True else "" }}
    >
    <label for="{{config.displayChangesId}}">Display Changes</label>

    <script src="{{ url_for('static', filename='displayChanges.js') }}"></script>

{% endmacro %}

{% macro display_history(config) %}

    |<span>History</span>
    <button id="{{config.backId}}" class="history-button">&lt;</button>
    <span id="{{config.indexId}}"></span>
    <button id="{{config.forwardId}}" class="history-button">&gt;</button>
    <button id="{{config.saveId}}" class="history-button">+</button>
    <button id="{{config.deleteId}}" class="history-button">x</button>

{% endmacro %}