{% extends "base.html" %}

{% from "macros.html" import page_banner, dictionary_dropdown, letter_inputs, show_words_option, toolbar %}

{% block scripts %}

{{ super() }}

<script src="{{ url_for('static', filename='utils.js') }}"></script>
<script src="{{ url_for('static', filename='formHandler.js') }}"></script>
<script src="{{ url_for('static', filename='customConfirm.js') }}"></script>

<script>
    // *_CONFIG passed in context from view function. Backticks silence the js linter
    const formConfig = JSON.parse(`{{ FORM_CONFIG | tojson | safe }}`);
    const displayChangesConfig = JSON.parse(`{{ DISPLAY_CHANGES_CONFIG | tojson | safe }}`);
    const historyConfig = JSON.parse(`{{ HISTORY_CONFIG | tojson | safe }}`);
    const showWordsConfig = JSON.parse(`{{ SHOW_WORDS_CONFIG | tojson | safe }}`);

    // Params needed by formHandler, not in formConfig
    const formHistory = initFormHistory(historyConfig);
    const showWords = initShowWords(showWordsConfig);
    const displayChanges = initDisplayChanges({
            checkboxId : displayChangesConfig.displayChangesId,
            url : displayChangesConfig.displayChangesUrl,
        })
    const formHandlerConfig = {
        formHistory: formHistory,
        displayChanges: displayChanges,
        postSubmitCallbacks: [showWords.toggleWordRows]
     }

    initFormHandler({ ...formConfig, ...formHandlerConfig });

</script>

{% endblock %}


{% block head_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
{% endblock %}


{% block content %}

    <div class="banner-container">

        {{ page_banner(text='Summarize All Word Lists') }}
        {{ toolbar("|", DISPLAY_CHANGES_CONFIG, HISTORY_CONFIG) }}

    </div>

    <div>
        {# display all word lists in a continuous line #}
        <span style="font-weight: bold; font-size: smaller">
            Word Lists (number of words):
        </span>
        {% for word_list in word_lists.values() | sort(attribute="num_words", reverse=True) %}
            |&nbsp;
            <span style="font-size: x-small">
                {{ word_list.name }}
                {# show number of words in the word list #}
                ({{ "{:,}".format(word_list.num_words) }})
            </span>&nbsp;
        {% endfor %}
        |
    </div>
    
    <form id="{{FORM_CONFIG.formId}}" class="my-form" method="GET">

        {{ letter_inputs() }}

        {# Sort Summaries #}
        <fieldset>
            <legend>Sort by number of words:</legend>
            <div class="radio-group">
                <div>
                    <input type="radio"
                        id="{{ ASCENDING }}" name="{{ SUMMARY_SORT }}"  value="{{ ASCENDING }}"
                        {{ "checked" if session[ARGS][SUMMARY_SORT] == ASCENDING else "" }}
                    >
                    <label for="{{ ASCENDING }}">Ascending</label>
                </div>
                <div>
                    <input type="radio" 
                        id="{{ DESCENDING }}" name="{{ SUMMARY_SORT }}" value="{{ DESCENDING }}"
                        {{ "checked" if session[ARGS][SUMMARY_SORT] == DESCENDING else "" }}
                    >
                    <label for="{{ DESCENDING }}">Descending</label>
                </div>
            </div>
        </fieldset> 

        {# Show Words checkbox and and Word Sort radios S#}
        {{ show_words_option() }}

        {# Dictionary choice #}
        {{ dictionary_dropdown() }}

        {# Submit #}
        <div class="mt-3">
            <input id="submitButton" type="submit" value="Show Summaries">
        </div>
        
    </form>

    {# Results inserted here #}
    <div id="{{FORM_CONFIG.resultsContainerId}}"></div>

    {% include "_custom_confirm.html" %}

{% endblock %}