{% extends "layout.html" %}

{% from "macros.html" import page_banner, dictionary_dropdown, letter_inputs %}

{% block content %}

    {{ page_banner(text="Show Summaries of All Word Lists") }}

    <div>
        {# display all word lists in a continuous line #}
        <span style="font-weight: bold; font-size: smaller">
            Word Lists (number of words):
        </span>
        {% for word_list in word_lists.values() | sort(attribute="num_words", reverse=True) %}
            |&nbsp;
            <span style="font-size: x-small">
                {{ word_list.name }}
                {# show number of words in the word list #}
                ({{ "{:,}".format(word_list.num_words) }})
            </span>&nbsp;
        {% endfor %}
        |
    </div>
    
    <form id="searchForm" method="GET">

        {{ letter_inputs() }}

        {# Sort Summaries #}
        <div class="d-flex flex-wrap align-items-center gap-3 mt-2">
            <div class="input-labels">
                Sort by number of words:
            </div>
            <div class="d-inline-flex flex-nowrap gap-2">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="{{ ASCENDING }}">
                        Ascending
                    </label>
                    <input class="form-check-input" type="radio"
                        id="{{ ASCENDING }}" name="{{ SUMMARY_SORT }}"  value="{{ ASCENDING }}"
                        {{ "checked" if session[ARGS][SUMMARY_SORT] == ASCENDING else "" }}
                    >
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="{{ DESCENDING }}">
                        Descending
                    </label>
                    <input class="form-check-input" type="radio" 
                        id="{{ DESCENDING }}" name="{{ SUMMARY_SORT }}" value="{{ DESCENDING }}"
                        {{ "checked" if session[ARGS][SUMMARY_SORT] == DESCENDING else "" }}
                    >
                </div>
            </div>
        </div>

        {# Show Words and Word Sort #}
        <div class="d-flex flex-wrap align-items-center gap-3 mt-2">
            <div class="form-check form-check-inline">
                <label class="form-check-label input-labels" for="{{ SHOW_WORDS }}">
                    Include words, sorted:
                </label>
                <input class="form-check-input" type="checkbox"
                    id="{{ SHOW_WORDS}}" name="{{ SHOW_WORDS}}"
                    {{ "checked" if session[ARGS][SHOW_WORDS] == True else "" }}
                >
            </div>
            <div class="d-inline-flex flex-nowrap gap-2">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="{{ ALPHABETICALLY }}">
                        Alphabetically
                    </label>
                    <input class="form-check-input" type="radio" 
                        id="{{ ALPHABETICALLY }}" name="{{ WORD_SORT }}" value="{{ ALPHABETICALLY }}"
                        {{ "checked" if session[ARGS][WORD_SORT] == ALPHABETICALLY else "" }}
                    >
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="{{ BYWORDLENGTH }}">
                        By word length
                    </label>
                    <input class="form-check-input" type="radio" 
                        id="{{ BYWORDLENGTH }}" name="{{ WORD_SORT }}" value="{{ BYWORDLENGTH }}"
                        {{ "checked" if session[ARGS][WORD_SORT] == BYWORDLENGTH else "" }}
                    >
                </div>
            </div>
        </div>

        {# Dictionary choice #}
        <div class="mt-3 input-labels">
            <label id="{{ DICTIONARY }}Label" for="{{ DICTIONARY }}" class="form-label me-2">
                Link words to:
            </label>
            
            {{ dictionary_dropdown() }}

        </div>

        {# Submit #}
        <div class="mt-3">
            <input id="submitButton" type="submit" value="Show Summaries">
        </div>
        
    </form>

    {# Results inserted here #}
    <div id="results"></div>

    <script>
        document.getElementById('searchForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const firstSubmit = document.getElementById('submitButton').value === 'Show Summaries'
            
            const required = document.getElementById('{{REQUIRED_LETTER}}').value;
            const allowed = document.getElementById('{{ALLOWED_LETTERS}}').value;
            const summary_sort = document.querySelector('input[name="{{ SUMMARY_SORT }}"]:checked')?.value;
            const show_words = document.getElementById('{{SHOW_WORDS}}').checked;
            const dictionary = document.getElementById('{{DICTIONARY}}').value;
            const word_sort = document.querySelector('input[name="{{ WORD_SORT }}"]:checked')?.value;

            const currentState = {required, allowed, summary_sort, show_words, dictionary, word_sort};

            const prevStateJSON = localStorage.getItem('searchFormState');
            const prevState = prevStateJSON ? JSON.parse(prevStateJSON) : null;

            const changes = [];
            if (prevState) {
                for (const [key, value] of Object.entries(currentState)) {
                    if (prevState[key] !== value) {
                        changes.push(`"${prevState[key]}" changed to "${value}"`);
                    }
                }
            }

            localStorage.setItem('searchFormState', JSON.stringify(currentState));

            const showSummariesUrl = "{{ url_for('show_summaries_results') }}";
            const params = new URLSearchParams(currentState);

            fetch(`${showSummariesUrl}?${params.toString()}`)
                .then(res => res.text())
                .then(html => {
                    // Insert results in <div id='results'>
                    document.getElementById('results').innerHTML = `
                    <div class="mt-3 bg-light" style="padding: 1em; border-top: 1px solid #333;">
                        ${html}
                    </div>`;
                    toggleRows(show_words);

                    if (!firstSubmit) {
                        if (changes.length > 0) {
                            showUpdatePopup(`Updated: \n${changes.join('\n')}`);
                        } else {
                            showUpdatePopup("Nothing to update");
                        }
                    } else {
                        document.getElementById('submitButton').value = "Update Summaries"
                    }

                });

        });

        function toggleRows(showWords) {
            const rows = document.querySelectorAll('tr[data-words]');
            rows.forEach(row => {
                if (showWords == false) {
                    row.classList.add('hide-words')
                }
                else {
                    row.classList.remove('hide-words');
                }
            });
        }

    </script>

{% endblock %}