{% extends "base.html" %}

{% from "macros.html" import page_banner, dictionary_dropdown, letter_inputs, toolbar %}

{% block scripts %}

{{ super() }}

<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/formHandler.js') }}"></script>
<script src="{{ url_for('static', filename='js/showWords.js') }}"></script>

<script>
    // *_CONFIG passed in context from view function. Parse w/ backticks to silence js linter
    const formConfig = JSON.parse(`{{ FORM_CONFIG | tojson | safe }}`);
    const displayChangesConfig = JSON.parse(`{{ DISPLAY_CHANGES_CONFIG | tojson | safe }}`);
    const historyConfig = JSON.parse(`{{ HISTORY_CONFIG | tojson | safe }}`);
    const showWordsConfig = JSON.parse(`{{ SHOW_WORDS_CONFIG | tojson | safe }}`);

    const showWords = initShowWords(showWordsConfig);
    const displayChanges = initDisplayChanges({
            checkboxId: displayChangesConfig.displayChangesId,
            changesContainerId: displayChangesConfig.changesContainerId,
            updateSessionUrl: displayChangesConfig.updateSessionUrl,
        })

    const history = initFormHistory(historyConfig);

    // additional form handler config that can't be set in Flask
    const formHandlerConfig = {
        displayChanges: displayChanges,
        postSubmitCallbacks: [showWords.toggleWordRows]
     }

    const handler = initFormHandler({ ...formConfig, ...formHandlerConfig });

    handler.setFormHistory(history);
    history.setFormHandler(handler);

</script>

{% endblock %}


{% block head_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search-results.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/confirm-dialog.css') }}">
{% endblock %}


{% block content %}

    <div class="banner-container">

        {{ page_banner(text='Summarize All Word Lists') }}
        {{ toolbar("|", DISPLAY_CHANGES_CONFIG, HISTORY_CONFIG) }}

    </div>

    <div>
        <span class="word-list-label">
            Word Lists (number of words):
        </span>
        {# display all word lists in a continuous line #}
        {% for word_list in word_lists.values() | sort(attribute="num_words", reverse=True) %}
            |&nbsp;
            <span class="word-list-item">
                {{ word_list.name }}
                {# show number of words in the word list #}
                ({{ "{:,}".format(word_list.num_words) }})
            </span>&nbsp;
        {% endfor %}
        |
    </div>
    
    <div style="display: flex; gap: 0.5rem 3rem">
        <form id="{{FORM_CONFIG.formId}}" class="two-col-grid" method="GET">

            {{ letter_inputs() }}

            {# Sort Summaries #}
            {# fieldset has 'display: contents', so child <legend> and <div> display #}
            <fieldset>
                <legend>Sort by number of words:</legend>
                <div class="radio-group">
                    <div>
                        <input type="radio"
                            id="{{ ASCENDING }}" name="{{ SUMMARY_SORT }}"  value="{{ ASCENDING }}"
                            {{ "checked" if session[ARGS][SUMMARY_SORT] == ASCENDING else "" }}
                        >
                        <label for="{{ ASCENDING }}">Ascending</label>
                    </div>
                    <div>
                        <input type="radio" 
                            id="{{ DESCENDING }}" name="{{ SUMMARY_SORT }}" value="{{ DESCENDING }}"
                            {{ "checked" if session[ARGS][SUMMARY_SORT] == DESCENDING else "" }}
                        >
                        <label for="{{ DESCENDING }}">Descending</label>
                    </div>
                </div>
            </fieldset> 

            {# In form grid, left column checkbox with label #}
            <div class="label-checkbox">
                <input type="checkbox"
                    id="{{ SHOW_WORDS }}" name="{{ SHOW_WORDS }}"
                    {{ "checked" if session[ARGS][SHOW_WORDS] == True else "" }}>
                <label for="{{ SHOW_WORDS }}">Include words sorted:</label>
            </div>

            {# In form grid, right column radio buttons inline #}
            <div style="display: flex; gap: 0.5rem 1rem;">
                <div>
                <input type="radio"
                        id="{{ ALPHABETICALLY }}" name="{{ WORD_SORT }}" value="{{ ALPHABETICALLY }}"
                        {{ "checked" if session[ARGS][WORD_SORT] == ALPHABETICALLY else "" }}>
                <label for="{{ ALPHABETICALLY }}">Alphabetically</label>
                </div>
                <div>
                <input type="radio"
                        id="{{ BYWORDLENGTH }}" name="{{ WORD_SORT }}" value="{{ BYWORDLENGTH }}"
                        {{ "checked" if session[ARGS][WORD_SORT] == BYWORDLENGTH else "" }}>
                <label for="{{ BYWORDLENGTH }}">By word length</label>
                </div>
            </div>

            {{ dictionary_dropdown() }}

            <div class="mt-3">
                <input id="submitButton" type="submit" value="Show Summaries">
            </div>
            
        </form>
        <div id="{{DISPLAY_CHANGES_CONFIG.changesContainerId}}"></div>
    </div>

    {# Results inserted here #}
    <div id="{{FORM_CONFIG.resultsContainerId}}"></div>

    {% include "_confirm_dialog.html" %}

{% endblock %}